
html {
    scroll-behavior: smooth
}

:root {
    --textbackgroundcolor: rgb(37, 39, 41);
    --alertcolor: aqua;
    --titlebackgroundcolor: rgba(14, 14, 17, 0.589);
    --fontcolors: rgb(255, 255, 255);
    --activeaction: greenyellow;
    --fonttext: "Google Sans Code", monospace;
    --Tabletbackgroundcolor: rgb(0, 0, 0);
    --mobilebackgroundcolor: rgb(63, 67, 175);
    --titlefont:  "Bitcount Grid Single", system-ui;
}


/* MOBILE FIRST DEGSIGN - Base styles for mobile devices */
body {
    background: RGB(2, 136, 189);
    background: linear-gradient(0deg,rgb(23, 24, 24) 0%, rgb(55, 57, 61) 100%);
    max-width: 80%;
    margin: 2vh auto;
}

@keyframes tilt-n-move-shaking {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(2px, 5px) rotate(2deg); }
  50% { transform: translate(0, 0) rotate(0eg); }
  75% { transform: translate(-2px, 2px) rotate(-2deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}


#welcomeDialog img {
    scale: 3;
    animation: tilt-n-move-shaking 2s infinite;
    display: grid;
    place-items: center;
    
}

/* Style for dialog box */
    dialog {
        border: none;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.3);
        font-family: var(--fonttext);
        background-color: var(--titlebackgroundcolor)
    }

/* Close button style */
.close-btn {
    background: #ff4d4dbe;
    padding: 6px 8px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    border-width: 5px;
    padding: 1%;
    padding-block: 0px;
    max-width: 100%;
    float: center;
    margin: 1rem auto;
}
.close-btn:hover {
        background: #cc0000d3;
}

.titleOfPage {
    font-size: 30px;
    font-family: var(--fonttext);
    margin: 0 auto;
    /* background-image: url(images/banner.png); */
    background-size: 100%;
    max-width: 100%;
    animation:  2s infinite;
}


hr {
    border-width: 2px;
    border-color: var(--activeaction);
    padding-block: 0px;
    max-width: 100%;
}

img {
  max-width: 100%;
  margin: 0 auto;
}

a {
    text-decoration: none;
}

main {
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 0 10px var(--activeaction), 0 0 20px var(--activeaction), 0 0 30px var(--activeaction), 0 0 40px var(--activeaction);
}

a:link {
  color: var(--alertcolor);
}

a:visited {
  color: var(--alertcolor);
}

a:hover {
    color: var(--alertcolor);
    cursor: pointer;
    border-radius: 5px;
}

a:active {
  color: var(--activeaction);
}

.navbar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    align-items: center; 
    border-width: 5px;
    background-color: var(--Tabletbackgroundcolor);
    border-radius: 5px;
}

.navbar img {
    width: 20px;
    height: 20px;
}

.navbar a {
    color: var(--fontcolors);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-family: var(--titlefont);
    font-weight: bolder;
}

.navbar a:hover {
    background-color: var(--alertcolor);
    cursor: pointer;

}

.navbar li {
    float: center;
    color: var(--fontcolors);

}

.navbar a:active {
    background-color: var(--activeaction);
}

h1 {
    text-align: center;
    color: var(--fontcolors);
    margin: 0px;
}

h2 {
    background-color: var(--titlebackgroundcolor);
    font-family: var(--fonttext);
    color: var(--fontcolors);
    float: center;
    padding: 16px;
    font-size: 50px;
}

h4 {
    font-family: var(--fonttext);
    text-align: center;
    font-size: 25px;
    border-radius: 50%;
    padding: 1px;
    color: var(--fontcolors);
}

.h4div {
    font-family: var(--titlefont);
    text-align: center;
    font-size: 25px;
    border-radius: 50%;
    padding: 5px;  
}

h5 {
    font-family: var(--fonttext);
    text-align: center;
    font-size: 25px;
    color: var(--fontcolors)
}

h6 {
    font-family: var(--fonttext);
    text-align: center;
    font-size: 25px;
    border-radius: 50%;
    padding: 1px;
    color: rgb(223, 0, 48);
}

p {
    color:var(--fontcolors);
    font-family: var(--fonttext);
    padding: 5px 15px;
}

#myModal {
    background-color: var(--alertcolor);
    content: centre;
}

/* 3D SPINNING ANIMATION */
@keyframes spin3D {
    from { transform: rotateY(0deg) }
    to { transform: rotateY(360deg) }
}
/* 2D SPINNING ANIMATION */
@keyframes spin {
    from { transform: rotate(0deg) }
    to { transform: rotate(-360deg) }
}

.h4div h4 {
    animation: spin3D 5s ease-in-out infinite;  
}

.h4div img {
    animation: spin 8s ease-out infinite;
    overflow: hide;
    border-radius: 100%;
}

#HeroSection {
    img{
       border-radius: 8%;
       max-width: 100%;
    }
    padding: 20px;
    font-family: var(--fonttext); 
    color: var(--fonttext); 
}

#CTAButton {
    font-family: var(--fonttext); 
    background-image: url(images/pointing-wojak.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

button {
    font-family: var(--fonttext);
    font-size: 40px; 
    background-color: var(--alertcolor);
    border-color: var(--activeaction);
    border-radius: 50px;
    border-width: 5px;
    padding: 1%;
    padding-block: 0px;
    max-width: 100%;
    display: block; 
    margin: 1rem auto;
    border-color: solid black;
}

button:hover {
    background-color: var(--activeaction);
    cursor: pointer;

}

button:active {
    background-color: rgb(0, 255, 0);
}


.Heading {
    font-family: var(--titlefont);
    background-color: var(--titlebackgroundcolor);
    color: var(--fontcolors);
}

.containerSkills {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    grid-template-columns: 100%;
}

.containerskills > div {
    text-align: center;
    padding: 20px 0;
}

.Skills {
    background-color: var(--textbackgroundcolor);
    text-align: center;
}

.Services {
    background-color: var(--textbackgroundcolor);
    text-align: center;
}
.Services p {
    font-size: larger;
}

.Services img {
    border: 2px solid var(--activeaction);
    border-radius: 20%;
    width:75%;
    height: auto;
    padding: 5px;
    margin: 4px;
    margin-right: 2px;

}

.servicesHeading {
    font-family: var(--titlefont);
}

.Resume {
    background-color: var(--textbackgroundcolor);
    text-align: center;
}

.resumeHeading {
    font-family: var(--titlefont);    
}

.Contact {
    background-color: var(--textbackgroundcolor);
    text-align: center;

}

.Contact .socials {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.socials h4:hover { 
    transition: transform 1 ease-in-out;
    transform: scale(1.5);
    overflow: visible;
    cursor: pointer;
 
}

.contactHeading {
    font-family: var(--titlefont);
}

.copyright {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#branding {
    margin: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: center;
}

.footing {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

#branding p{
    color: var(--fontcolors);

}

.footing i {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 2s ease-in-out;

}

.footing i:hover {
    transform: scale(5);
    overflow: visible;
    cursor: pointer;

}
.footing p:hover {
    transition: transform 4s ease-in-out;
    overflow: visible;
    transform: rotate(-6000deg) 
}


/* Media query for tablets and larger screens */
@media screen and (min-width: 768px) {
    /* Tablet-specific styles */
    .titleOfPage {
        font-size: 40px;

    }
    #branding {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar li {
        float: right;
        color: var(--backgroundcolor);
    }

    h2 {
        background-color: var(--backgroundcolor);
        font-family: var(--fonttext);
        color: var(--titlefont);
        float: center;
        padding: 16px;
        font-size: 40px;
    }
    .containerSkills {
        display: grid;
        grid-gap: 10px;
        padding: 10px;
        grid-template-columns: 33% 33% 33%;
    }
    #CTAButton {
        font-family: var(--titlefont); 
        background-image: url(images/wojackpoints.gif);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 45%;
    }
}

/* Media query for desktop screens */
@media screen and (min-width: 1024px) { 
/* Desktop-specific styles */
    .titleOfPage {
        font-size: 60px;
    }
    p {
        color:var(--fontcolors);
        font-family: var(--fonttext);
        padding: 5px 15px;
        font-size: 20px
    }
    h2 {
        background-color: var(--backgroundcolor);
        font-family: var(--fonttext);
        float: center;
        padding: 16px;
        font-size: 50px;
    }

}











